/**
*
* Variables By Numéricco
*
**/


$pantallaca: 1500px;
$pantalla: 1199px;
$pc: 991px;
$tablet: 767px;
$bigmovil: 600px;
$movil: 480px;
$minimovil: 320px;


$numericco: #092128;
$turquesa: #42e1cf;
