/**
*
* Variables By Numéricco
*
**/

$pantallon: 1500px;
$pantallaca: 1500px;
$pantalla: 1224px;
$pc: 991px;
$tablet: 767px;
$bigmovil: 600px;
$movil: 480px;
$minimovil: 320px;

$turquesa: #46C3BB;
$boton-hover: #3BA69F;
$numericco: #092028;

$verde55: rgba(81, 204, 66, 0.55);
$rojo: #D9534F;
$rojo60: rgba(228, 17, 17, 0.68);
$mostaza60: rgba(230, 190, 45, 0.68);

$negro: #313131;
$border: rgba(9, 32, 40, 0.07);
$sombras: rgba(9, 32, 40, 0.05);
$grisclaro: rgba(9, 32, 40, 0.03);

$grisfondo: rgb(244, 244, 244);
$gris: #999;
$gristexto: #8f939e;

$font-family: 'PT Sans', Helvetica, sans-serif;
$font-title: 'Roboto', sans-serif;
$proxima: 'proxima', sans-serif;
